/**Import global variables using import**/
@import url('../../cssGlobals/colors.css');

/**use global variables like below**/
body{
    color: var(--primary-color);
    font-family: "Helvetica";
}
.grid-item{
    min-width: 100px;
    @media (width < 825px){
        width: 100px;
    }
    @media (width >= 825px) and (width < 1000px){
        width: 110px;
    }
    @media(width >= 1000px){
        width: 150px
    }
 
}