/**Import global variables using import**/
@import url('../../cssGlobals/colors.css');

/**use global variables like below**/
body{
    color: black;
    font-family: "Helvetica";
    
}
#app{
    display: flex;
    justify-content: center;
}
.grid-item{
    min-width: 100px;
    @media (width < 825px){
        width: 100px;
    }
    @media (width >= 825px) and (width < 1000px){
        width: 110px;
    }
    @media(width >= 1000px){
        width: 150px
    }
 
}

button, a.button, div.button {
    padding: .5em;
    background: var(--primary-light);
    border-radius: 2px;
    border: 2px solid var(--primary-dark);
    color: black;
    font-size: 15px;
    font-weight: 700;
    min-width: 75px;
    margin: .5em;
    cursor: pointer;
    text-align: center;

    &:hover{
        background: var(--primary-color);
        border: 2px solid var(--primary-color);
        opacity: .95;
    }
    &.secondary-button{
        background: var(--secondary-color);
        border: 2px solid var(--secondary-dark);
    }
    &.secondary-button:hover{
        opacity: .90;
        border: 2px solid var(--secondary-light);
    }
  
}