.calendar-day{
    height:100px;
    border: 1px solid black;
    cursor: pointer;
    &:hover{
        border: 1px solid chartreuse;
        
    }
}
.inactive-day{
    background-color: lightslategrey;
}
