@import url('../../cssGlobals/colors.css');

.calendar-day{
    height:100px;
    border: 1px solid black;
    overflow: hidden;

    &:hover{
        border: 1px solid chartreuse;        
    }
}

.add-note{
    font-size: 15px;
    cursor: pointer;
    &:hover{
        color: var(--third-color);
    }
}

.inactive-day{
    background-color: var(--primary-light);
}
.day-header{
    padding: .2em;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-light);
}
